{% extends 'game/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/view.css') }}">
{% endblock %}

{% block body %}
    {% set firstPosition = positions | first %}
    <div class="view">
        <table class="map">
            <tr>
                {% for position in positions %}
                    {% if (loop.index != 1) and position.x == firstPosition.x %}
                        </tr><tr>
                    {% endif %}
                    <td style="background: url({{ asset(position.ground.filePath) }});">
                        <a href="{{ path('game_view', {positionId: position.id}) }}" class="{% if targetPosition.id == position.id %}active{% endif %}">
                            <div class="fighter">
                                <div class="highlight"></div>
                                {% if (position.user) %}
                                    <img class="picto" src="{{ asset('assets/img/user/goku.png') }}">
                                {% endif %}
                                {% if (position.npc) %}
                                    <img class="picto" src="{{ asset('assets/img/npc/skeleton.png') }}">
                                {% endif %}
                            </div>
                        </a>
                    </td>
                {% endfor %}
            </tr>
        </table>
        <div class="view-detail">
            {% if app.flashes('hasReport')%}
                <div class="report">
                    {% for message in app.flashes('report') %}
                        {{ message | raw }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="view-info">
                    <div>
                        Position observée: x: {{ targetPosition.x }} | y: {{ targetPosition.y }}
                    </div>
                    {% if targetPosition.user %}
                        <div>
                            Cible observée: {{ targetPosition.user.publicName }}
                        </div>
                    {% endif %}
                    {% if targetPosition.npc %}
                        <div>
                            Cible observée: {{ targetPosition.npc.publicName }}
                        </div>
                    {% endif %}
                </div>
                {% if actions|length > 0 %}
                    <div class="view-actions">
                        <div>
                            Actions:
                            {% for action in actions %}
                                <a href="{{ path('game_view', {positionId: targetPosition.id, action: action.identifier})  }}">{{ action.name }}</a>
                            {% endfor  %}
                        </div>
                    </div>
                {% endif %}
                {% if targetPosition.fighter %}
                    <div class="events">
                        {% for event in targetEvents %}
                            <div class="event">
                                <div class="when">{{ event.createdAt | date('d/m/Y H:i:s') }}</div>
                                <div class="body">{{ event.body | raw }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
