<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/stylesheets.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
        <link rel="stylesheet" href="{{ asset('assets/css/progressbar.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Page d'accueil</a></li>
                    {% if app.user is null %}
                        <li><a href="{{ path('app_register') }}">Créer un compte</a></li>
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="user-info">
                {% if app.user is not null %}
                    <p>{{ app.user.username }}</p>
                    <div div class="user-status">
                        <div class="progressbar-wrapper">
                            <div title="health" class="progressbar" style="width: {{ app.user.health / app.user.healthMax * 100}}%">{{ app.user.health }}/{{ app.user.healthMax }}</div>
                        </div>
                        <div class="progressbar-wrapper">
                            <div title="strength" class="progressbar" style="width: {{ app.user.strength / app.user.strengthMax * 100}}%">{{ app.user.strength }}/{{ app.user.strengthMax }}</div>
                        </div>
                        <div class="progressbar-wrapper">
                            <div title="stamina" class="progressbar" style="width: {{ app.user.stamina / app.user.staminaMax * 100}}%">{{ app.user.stamina }}/{{ app.user.staminaMax }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </header>
        {% block body %}{% endblock %}
        <script type="application/javascript" src="{{ asset('assets/js/nav.js') }}"
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
