<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/stylesheets.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/progressbar.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Page d'accueil</a></li>
                    {% if app.user is null %}
                        <li><a href="{{ path('app_register') }}">Créer un compte</a></li>
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% block header %}{% endblock %}
        </header>
        {% block body %}{% endblock %}
        <script type="application/javascript" src="{{ asset('assets/js/nav.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
